/* 
:::::::::: VARIABLES :::::::::
*/

/* breakpoints */
$max-desktop-lg: 1553px;
$max-laptop: 1023px;
$max-tablet: 959px;
$max-tablet-sm: 676px;
$max-phone: 419px;
$min-desktop-lg: 1554px;
$min-laptop: 1024px;
$min-tablet: 960px;
$min-tablet-sm: 677px;
$min-phone: 420px;